<table cellpadding="0" cellspacing="0" id="<%= sub_form_list_id(:association => column.name) %>">
  <% @record = associated.empty? ? build_associated(column, parent_record) : associated.last -%>
  <%= render :partial => 'horizontal_subform_header', :locals => {:parent_record => parent_record, :record => @record} %>

  <% associated.each_index do |index| %>
    <% @record = associated[index] -%>
    <%= render :partial => 'form_association_record', :locals => {:scope => column_scope(column, scope), :parent_record => parent_record, :column => column, :locked => show_blank_record && @record.new_record? && @record == associated.last, :index => index} %>
  <% end -%>
  <tfoot>
    <%= render :partial => 'horizontal_subform_footer', :locals => {:scope => column_scope(column, scope), :parent_record => parent_record, :column => column} %>
  </tfoot>
</table>
