<% action_links = active_scaffold_config.action_links.collection -%>
<div class="actions">
  <%= display_action_links(action_links, nil, skip_unauthorized: true) unless action_links.empty? %>
  <%= loading_indicator_tag(action: :table) %>
</div>
<h2><%= active_scaffold_config.list.user.label %></h2>
