<% for name in [:info, :warning, :error] %>
  <% if flash[name] %>
    <div class="<%= "#{name}-message message" %>">
      <%= display_message flash[name] %>
      <% if request.xhr? %>
        <a href="#" class="close" title="<%= as_(:close) %>"><%= as_(:close) %></a>
      <% end %>
    </div>
  <% end %>
<% end %>
