<div class="active-scaffold-<%= position %>">
  <%= as_element :show_actions, class: 'actions' do %>
    <% active_scaffold_config.action_links.member.each do |link| -%>
      <%
        next unless display_link_in_show?(link, position)
        next if link.action == 'show' && link.controller.nil? && link.parameters.empty?
        next if skip_action_link?(link, record)
        auth, reason = action_link_authorized?(link, record)
        next unless auth
      -%>
      <%= render_action_link(link, record, authorized: true, page: true) -%>
    <% end -%>
  <% end %>
</div>
