<%
  columns_hash = {}
  heading_columns = columns || show_columns_for(associated.first, column, columns_hash)
%>
<table>
  <thead>
    <tr>
<% heading_columns.each_column(skip_groups: true) do |column| -%>
      <th><%= show_label(column) %></th>
<% end -%>
    </tr>
  </thead>
  <tbody>
<% associated.each do |record| -%>
    <%= render 'show_horizontal_record', record: record, parent_record: parent_record, columns: columns || show_columns_for(associated.first, column, columns_hash) %>
<% end -%>
  </tbody>
</table>
