<div class="active-scaffold-header">
  <div class="actions">
    <% active_scaffold_config.action_links.member.each do |link| -%>
      <% next unless link.action == 'index' -%>
      <% next if skip_action_link?(link, record) || !action_link_authorized?(link, record) -%>
      <%= render_action_link(link, record, :authorized => true) -%>
    <% end -%>
  </div>
</div>
