<div id="<%= sub_form_list_id(:association => column.name) %>">
  <% associated.each_index do |index| %>
  <div class="sub-form-record">
  <% @record = associated[index] -%>
  <%= render :partial => 'form_association_record', :locals => {:scope => column_scope(column, scope), :parent_record => parent_record, :column => column, :locked => show_blank_record && @record.new_record? && @record == associated.last, :index => index} %>
  </div>
  <% end -%>
</div>
