<div id="<%= sub_form_list_id(association: column.name, id: parent_record.id || generated_id(parent_record) || 99_999_999_999, tab_id: local_assigns[:tab_id]) %>">
  <% record_partial_locals = {scope: scope, parent_record: parent_record, column: column, columns: local_assigns[:columns], layout: :vertical} %>
  <%= render partial: 'form_association_record', collection: associated, as: :record, locals: record_partial_locals %>
  <%= render 'form_association_record', record_partial_locals.merge(locked: true, index: associated.size, record: show_blank_record) if show_blank_record %>
</div>
