before_install:
  - gem install bundler
  - bundle config set --local clean 'true'
  - bundle config set --local deployment 'true'
  - bundle config set --local without 'deployment development lint production performance'
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
bundler_args: --jobs=$(nproc)
cache: bundler
dist: focal
gemfile:
  - Gemfile
  - gemfiles/Gemfile.rails-5.2.x
  - gemfiles/Gemfile.rails-6.0.x
jdk:
  - openjdk9
jobs:
  fast_finish: true
  exclude:
    - rvm: 3.0.2
      gemfile: gemfiles/Gemfile.rails-5.2.x
    - rvm: 2.7.4
      gemfile: gemfiles/Gemfile.rails-5.2.x
    - rvm: 2.5.9
      gemfile: gemfiles/Gemfile.rails-6.0.x
    - rvm: jruby-9.2.16.0
      gemfile: gemfiles/Gemfile.rails-6.0.x
language: ruby
rvm:
  - 2.5.9
  - 2.6.8
  - 2.7.4
  - 3.0.2
  - jruby-9.2.16.0
virt: lxd