before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
bundler_args: --clean --deployment --jobs=$(nproc) --without development production
cache: bundler
dist: trusty
gemfile:
  - Gemfile
  - gemfiles/Gemfile.rails-4.2.x
jdk:
  - openjdk8
language: ruby
matrix:
  exclude:
  allow_failures:
    - rvm: rbx-3
rvm:
  - 2.2.8
  - 2.3.5
  - 2.4.2
  - 2.5.0
  - jruby-9.1.13.0
  - rbx-3
sudo: required
