/* IE hacks
   ==================================== */

* html .active-scaffold-header {
zoom: 1;
}

* html .active-scaffold td .messages-container {
border-top: solid 1px #DAFFCD;
}

.active-scaffold-header div.actions a.show_search {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/active_scaffold/default/magnifier.png', sizingMethod='crop');
}

.active-scaffold-header div.actions a.disabled {
filter: alpha(opacity=50);
}

* html .active-scaffold .inline-adapter-cell dd {
float: none;
}