  <ul class="nav-menu">
    {% for page_item in include.pages %}
      {% assign child_pages = site.pages | where: "parent", page_item.title | sort: "nav_order" %}
      {% assign has_children = child_pages.size | is_positive %}

      <li class="nav-item {% if has_children %}has-submenu{% endif %}">
        <a href="{{ page_item.url | relative_url }}" class="nav-link">
          {{ page_item.title }}
        </a>

        {% if has_children %}
          <ul class="submenu">
            {% for child in child_pages %}
              <li class="submenu-item">
                <a href="{{ child.url | relative_url }}" class="submenu-link">
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
