<h5>:has_many :through is not supported. Create your own <em>_form_has_many_through.rhtml</em> partial
or exclude this column from the form <em>active_scaffold_config.form.columns.use :exclude => :<%= column.name %></em></h5>