<% scope ||= nil %>
<label for="<%= "record_#{column.name}" %>"><%= column.label %></label>
<%= form_column column, scope %>
<% if column.description -%>
  <span class="description"><%= column.description %></span>
<% end -%>