<h5>:has_one is not supported. Create your own <em>_form_has_one.rhtml</em> partial
or exclude this column from the form <em>active_scaffold_config.form.columns.use :exclude => :<%= column.name %></em></h5>