<thead>
  <tr>
    <%
    active_scaffold_config_for(@record.class).subform.columns.each :flatten => true do |column|
      next if column.association and (column.association.klass == parent_record.class or !column.singular_association?)
      -%>
      <th><%= column.label %></th>
    <% end -%>
  </tr>
</thead>