<%= update_page_tag { |page| page.replace_html active_scaffold_messages_id, :partial => 'core/messages' } %>
<tr class="inline-adapter">
 <td colspan="99">
   <a href="" class="close inline-adapter-close" title="close">close</a>
   <%= payload -%>
 </td>
</tr>
