<% action_links = active_scaffold_config.action_links.collection
  unless action_links.empty? -%>
  <div class="actions">
    <%= render :partial => 'action_group', :locals => {:action_links => action_links,
                                                       :url_options => params_for,
                                                       :traverse_options => nested? ? {:reverse => true} : {}} %>
    <%= loading_indicator_tag(:action => :table) %>
  </div>
<% end %>
<h2><%= active_scaffold_config.list.user.label %></h2>
