<% action_links = active_scaffold_config.action_links.collect_by_type(:collection) 
  unless action_links.empty? -%>
  <div class="actions">
    <% new_params = params_for %>
    <% action_links.send(nested.nil? ? :each : :reverse_each) do |link| -%>
      <% next if skip_action_link(link) -%>
      <%= render_action_link(link, new_params) -%>
    <% end -%>
    <%= loading_indicator_tag(:action => :table) %>
  </div>
<% end %>
<h2><%= active_scaffold_config.list.user.label %></h2>
