<li class="form-element">
    <dl>
      <dt>
        <label for="<%= "search_#{column.name}" %>"><%= column.label %></label>
      </dt>
    <dd>
    <%= active_scaffold_search_for(column) %>
    </dd>
  </dl>
</li>