.active-scaffold-header div.actions div.action_group div {
  background-image: image-url('active_scaffold/gears.png'); /* default icon for actions or override with css */
}

.active-scaffold-header div.actions a.show_config_list {
  background-image: image-url('active_scaffold/config.png');
}

.active-scaffold-header div.actions a.new,
.active-scaffold-header div.actions a.new_existing {
background-image: image-url('active_scaffold/add.png');
}

.active-scaffold-header div.actions a.show_search {
background-image: image-url('active_scaffold/magnifier.png');
}

.active-scaffold th.asc a {
background-image: image-url('active_scaffold/arrow_up.png');
}

.active-scaffold th.desc a {
background-image: image-url('active_scaffold/arrow_down.png');
}

.active-scaffold th.loading a {
background-image: image-url('active_scaffold/indicator-small.gif');
}

.active-scaffold a.inline-adapter-close {
background-image: image-url('active_scaffold/close.png');
}

.active-scaffold .sub-form .association-record a.destroy {
background-image: image-url('active_scaffold/cross.png');
}

.as_touch a.inline-adapter-close {
background-image: image-url('active_scaffold/close_touch.png');
}
.active-scaffold .refresh-link {
background-image: image-url('active_scaffold/refresh.png');
}
