.active-scaffold-header div.actions a.new,
.active-scaffold-header div.actions a.new_existing,
.active-scaffold-header div.actions a.show_search,
.active-scaffold-header div.actions a.show_config_list,
.active-scaffold div.actions div.action_group div {
  background-position: 5px 50%;
  background-repeat: no-repeat;
}

.active-scaffold .active-scaffold .active-scaffold-header div.actions > a.new,
.active-scaffold .active-scaffold .active-scaffold-header div.actions > a.new_existing,
.active-scaffold .active-scaffold .active-scaffold-header div.actions > a.show_search,
.active-scaffold .active-scaffold .active-scaffold-header div.actions > a.show_config_list,
.active-scaffold .active-scaffold .active-scaffold-header div.actions div.action_group > div {
  background-position: 1px 50%;
  background-repeat: no-repeat;
}

.active-scaffold th.asc a,
.active-scaffold th.desc a,
.active-scaffold th.loading a {
  background-position: right 50%;
  background-repeat: no-repeat;
}

.active-scaffold-header div.actions div.action_group div {
  background-image: image-url('active_scaffold/gears.png'); /* default icon for actions or override with css */
}

.active-scaffold-header div.actions a.show_config_list {
  background-image: image-url('active_scaffold/config.png');
}

.active-scaffold-header div.actions a.new,
.active-scaffold-header div.actions a.new_existing {
background-image: image-url('active_scaffold/add.png');
}

.active-scaffold-header div.actions a.show_search {
background-image: image-url('active_scaffold/magnifier.png');
}

.active-scaffold th.asc a {
background-image: image-url('active_scaffold/arrow_up.png');
}

.active-scaffold th.desc a {
background-image: image-url('active_scaffold/arrow_down.png');
}


.active-scaffold .draggable-lists-container .check-buttons {
  .check-all, .uncheck-all {
    background-image: image-url('active_scaffold/fast-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    text-indent: 1000px;
    overflow: hidden;
    white-space: nowrap;
  }
  .uncheck-all {
    background-image: image-url('active_scaffold/fast-arrow-left.svg');
  }
}

.active-scaffold th.loading a {
background-image: image-url('active_scaffold/indicator-small.gif');
}

.active-scaffold a.inline-adapter-close {
background-image: image-url('active_scaffold/close.png');
text-indent: 1000px;
width: 16px;
height: 17px;
background: 0 0 no-repeat;
overflow: hidden;
}

.active-scaffold .sub-form .association-record a.destroy {
background-image: image-url('active_scaffold/cross.png');
height: 16px;
width: 16px;
text-indent: -4000px;
background-repeat: no-repeat;
overflow: hidden;
}

.as_touch a.inline-adapter-close {
background-image: image-url('active_scaffold/close_touch.png');
}
.active-scaffold .refresh-link {
background-image: image-url('active_scaffold/refresh.png');
background-position: 5px 50%;
background-repeat: no-repeat;
}
