<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    {%- include header.html -%}

    <main class="home-page" aria-label="Content">
    
      {{ content }}

    </main>

    {%- include footer.html -%}

    {%- if page.pagefind -%}
    <script src="{{ '/pagefind/pagefind-ui.js' | relative_url }}"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        new PagefindUI({ element: "#search", showSubResults: false });
      });
    </script>
    {%- endif -%}

  </body>
</html>
