<ol class="form">
  <% columns.each do |column| -%>
  <% if column.is_a? ActiveScaffold::DataStructures::ActionColumns -%>
  <li>
    <div class="subsection">
      <h5><%= column.label %></h5>
      <%= render :partial => 'form', :locals => { :columns => column } %>
    </div>
  </li>
  <% else -%>
  <li class="form-element <%= 'required' if column.required? %>">
    <%= render_form_field_for_column(column) -%>
  </li>
  <% end -%>
  <% end -%>
</ol>