<% display_class = ( @records.kind_of?(Array) ? @records.first : @records ) -%>
<tr class="active-scaffold-totals">
  <% active_scaffold_config.list.columns.each do |column| %>
    <td>
      <% if column.calculate_total? %>
        <p><%= @running_totals[column.name.to_sym] %></p>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  <% end %>
  <% unless active_scaffold_config.action_links.empty? %>
    <td class="actions">&nbsp;</td>
  <% end %>
</tr>